@media only screen and (max-width: 1280px) {

.container {
  width: 1280px;
  margin: 0 auto;
  }

li {
  color: white;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  }

.main-image {
  height: 500px;
  background: url(../Images/main_div_image.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
  padding-top: 100px;
  }

.nav-wrap {
  position: fixed;
  width: 100%;
}

.contact-image {
  height: 400px;
  background: url(../Images/contact_image.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
}

#contact {
  font-size: 20px;
  color: white;
  position: static;
  width: 450px;
  margin-left: 700px;
  margin-top: 25px;
}

.contact-headline {
  background-color: #72919C;
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 15px;
  width: 100%;
}

.contact-button {
  background: #EDE1E4;
  border-radius: 5px;
  width: 15%;
  height: 50px;
  line-height: 30px;
  box-sizing: border-box;
  font-size: 20px;
  color: #262626;
  margin-left: 700px;
  margin-top: 30px;
  padding: 10px;
  display: block;
  text-align: center;
}

.contact-page {
  height: 550px;
  background: url(../Images/contact_main_hero.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#contact-form-position {
    position: absolute;
    width: 100%;
    margin-top: -275px;
    margin-left: 50px;
}

.contact-page img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.signin-page {
  background: url(../Images/signin_main_hero.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
  padding-bottom: 25px;
  height: 300px;
}

.how-it-works-page {
  height: 300px;
  background: url(../Images/how_it_works_hero.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
  padding-top: 25px;
}

.contact-form {
  background: #fff;
  height: 500px;
  color: #262626;
}

.contact-form-style h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #fff;
    margin: -10px -30px 30px -30px;
    color: white;
}
.contact-form-style h1>span {
    display: block;
    font-size: 16px;
}
.contact-form-style label {
    display: block;
    margin: 0px 0px 5px;
}
.contact-form-style label>span {
    width: 20%;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.contact-form-style input[type="text"], .contact-form-style input[type="email"], .contact-form-style textarea {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}

.contact-form-style textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}

.contact-form-style .message-button {
    background: #EDE1E4;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #262626;
    width: 40%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.contact-form-style .message-button:hover {
    color: #fff;
    background-color: #363334;
}

#message {
  width: 96%;
}

input[type=text] {
  padding: 12px 20px;
  width: 70%;
}

input[type=text] .message-field {
  height: 200px;
}

input[type=submit] {
  padding: 12px 20px;
  display: inline;
}

input[type=text]:focus {
  background-color: #EDE1E4;
  color: #262626;
}

.dressme-tool-main {
  height: 300px;
  background: url(../Images/dressme_hero.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
  padding-top: 25px;
}

.dressme-tool-style {
  background: #fff;
  color: #262626;
  font-size: 20px;
  padding: 40px;
  text-align: center
}

.howitworkssection {
  height: 550px;
  background: #fff;
}

.section-1-style {
  color: #262626;
  font-size: 30px;
  text-align: center;
  padding: 40px;
}

.section-2-style {
  color: #262626;
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
}

#section-header {
  color: #262626;
  text-align: center;
  padding-top: 40px;
}

div img {
  width: 90%;
  margin: 0;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-top: 280px;
}

.footer-logo {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  color: #fff;

}

.footer {
  height: 300px;
  color: #fff;
  background: #363334;
  text-align: center;
  padding-top: 85px;
  margin: 0 auto;
}
}