/*
Project Name: DressMe
Client: Myself
Author: Melissa Green
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 20px;
  color: white;
  line-height: 1.4;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 200;
  background: #EDE1E4;
  width: 100%;
}

li a {
  text-decoration: none;
  color: white;
}

.section a {
  text-decoration: none;
  color: white;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;
}

.nav-style {
  overflow: hidden;
  margin: 0 auto;
  background: #72919C;
  opacity: .70;
  width: 100%;
}

/*how do I just make the nav bar with links stick without leaving a gap above where the logo sits? JS? */

#nav-wrap {
  top: 0;
  width: 100%;
}

.logo-style {
  background: #363334;
  font-family: 'Julius Sans One', sans-serif;
}

li {
  color: white;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 36px
}

.main-image {
  height: 500px;
  background: url(../Images/main_div_image.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
  padding-top: 100px;
}

#main {
  font-size: 20px;
  background-color: #fff;
  opacity: .60;
  color: #262626;
  position: static;
  width: 450px;
  padding: 20px;
  display: inline-block;
  margin-left: 155px;
  margin-top: 50px;
}

span {
  font-weight: 600;
}

.how-it-works {
  font-size: 20px;
  background-color: white;
  width: 100%;
  height: 400px;
  color: #262626;
  text-align: center;
  padding: 50px;
  display: inline-block;
}

.how-it-works-button {
  background-color: #EDE1E4;
  border-radius: 5px;
  width: 20%;
  height: 50px;
  line-height: 30px;
  box-sizing: border-box;
  font-size: 20px;
  color: #262626;
  margin-top: 30px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.nav-wrap {
  position: fixed;
  width: 100%;
}

.contact-image {
  height: 400px;
  background: url(../Images/contact_image.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
}

#contact {
  font-size: 20px;
  color: white;
  position: static;
  width: 450px;
  margin-left: 850px;
  margin-top: 25px;
}

.contact-headline {
  background-color: #72919C;
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 15px;
  width: 100%;

}

.contact-button {
  background: #EDE1E4;
  border-radius: 5px;
  width: 15%;
  height: 50px;
  line-height: 30px;
  box-sizing: border-box;
  font-size: 20px;
  color: #262626;
  margin-left: 850px;
  margin-top: 30px;
  padding: 10px;
  display: block;
  text-align: center;
}

p a {
  text-decoration: none;
  color: #262626;
}

span a {
  text-decoration: none;
  color: #262626;
}

h1 a {
  text-decoration: none;
  color: white;
}

.about-page {
  height: 400px;
  background: url(../Images/about_page_hero.jpg) no-repeat top center #EDE1E4;
  background-size: cover;
  padding-bottom: 25px;
}

.about-page-style {
  background: #fff;
  color: #262626;
  font-size: 30px;
  padding: 40px;
  text-align: center;
}

.section {
  height: 550px;
  background: #fff;
}

.section-1-style {
  color: #262626;
  font-size: 30px;
  text-align: center;
  padding: 40px;
}

.section-2-style {
  color: #262626;
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
}

#section-header {
  color: #262626;
  text-align: center;
  padding-top: 40px;
}


div img {
  width: 70%;
  margin: 0;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-top: 280px;
}

span h1 {
  font-weight: 300;
  color: #72919C;
}

#sign-up-button {
  background-color: #72919C;
  border-radius: 5px;
  width: 20%;
  height: 50px;
  line-height: 30px;
  box-sizing: border-box;
  font-size: 20px;
  color: #fff;
  margin-top: 30px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.footer-logo {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  margin-top: 85px;
  color: #262626;

}

.footer {
  height: 150px;
  color: #262626;
  text-align: center;

}
